<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ExamenIIAdoniss"
			 connectionString="Data Source=LAPTOP-VA8NC5V0\SQLEXPRESS;Initial Catalog = ExamenIIAdoniss; Integrated Security = True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>